<div class="app-list">
  <table mat-table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Genre</th>
        <th>Release date</th>
        <th>Stats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of dataResult.results" [routerLink]="['/detail', movie.id]">
          <td>{{ movie.title }}</td>
          <td>---</td>
          <td>{{ movie.release_date }}</td>
          <td>---</td>
      </tr>
    </tbody>
  </table>
</div>
<pre>{{ dataResult | json }}</pre>