.app-stats {
    .mat-list-item{
        margin-bottom: -20px;
    }
    .low {
        color: lightgray;
    }
    .normal {
        color: blue;
    }
    .high {
        color: rgb(241, 31, 24);
    }
    .invisible {
        display: none;
    }
}
